body {
	line-height: 1.4;
	color: black;
	font-family: $regular;
}

p {
	margin-bottom: 1rem;
}

.title {
	font-size: 3rem;
	font-family: $bold;
}

.subtitle {
	font-size: 2rem;
	font-family: $bold;
}

// UTILITY CLASSES

.clr--primary {
	color: var(--clr-primary);
}

.clr--secondary {
	color: var(--clr-secondary);
}

.font--bold {
	font-family: $bold;
}

.font--reg {
	font-family: $reg;
}
