body {
	line-height: 1.4;
	color: black;
	font-family: $regular;
}

p {
	margin-bottom: var(--spacing-r);
}

.title {
	font-family: $bold;
	font-size: clamp(1.6rem, 1.544rem + 0.3vw, 1.75rem);

	&.title--no-margin {
		margin-bottom: 0;
	}
}

.subtitle {
	font-size: var(--fs-s);
	font-family: $bold;
	text-transform: uppercase;
	margin-bottom: 0;
	letter-spacing: 1px;

	&.subtitle--no-margin {
		margin-bottom: 0;
	}
}

a {
	transition: 150ms;
	display: inline-block;
	text-decoration: none;

	&:hover {
		opacity: 0.5;
	}
}

.link {
	color: var(--clr-darkgreen);
	text-decoration: none;
}
